* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.latest-promotion {
    margin: 100px auto;
    width: 248px;
    height: 163px;
    border: 1px solid #ccc;
}

.latest-promotion h3 {
    padding-left: 15px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dotted #ccc;
}

.latest-promotion ul {
    margin-top: 7px;
}

.latest-promotion ul li {
    padding-left: 20px;
    height: 23px;
    line-height: 23px;
}

.latest-promotion ul li a {
    font-size: 12px;
    color: #333;
}

.latest-promotion ul li a:hover {
    text-decoration: underline;
}